/* key frame */
@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-30px);
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(30px);
  }
}

@media screen and (width > 600px) {
  form .form-buttons {
    flex-direction: row;
    align-items: center;
  }

  .register-container {
    padding: 15px;
  }

  .register__title {
    font-size: 20px;
  }

  .btn {
    font-size: 14px;
  }

  .login-container {
    padding: 15px;
  }

  .login__title {
    font-size: 20px;
  }

  .btn {
    font-size: 14px;
  }

  /* login and register */

  .register-form,
  .login-form {
    border: 1px solid #d4d4d4;
  }
}

@media screen and (width > 800px) {
  /* MAIN */
  .footer-content {
    justify-content: space-between;
  }
}

@media screen and (width > 1000px) {
  /* HEADER */
  .navigation-drawer {
    min-height: auto;
    width: auto;
    padding: 0;
    background-color: transparent;

    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;

    position: static;
    transform: translateX(0);
    opacity: 1;
  }
}


/* Media query untuk perangkat sangat kecil */
@media (max-width: 320px) {
  .story-list {
    grid-template-columns: 1fr; /* Satu kolom di perangkat kecil */
    gap: 15px;
    padding: 5px;
  }
}



/* Tablet */
@media (min-width: 600px) {
  .story-item {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop kecil */
@media (min-width: 900px) {
  .story-item {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Desktop besar */
@media (min-width: 1200px) {
  .story-item {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
} 